@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 243 75% 59%;
        --primary-foreground: 0 0% 98%;
        --secondary: 210 40% 96%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --success: 160 84% 39%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 243 75% 59%;
        --radius: 0.75rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        /* Slate 950 */
        --foreground: 210 40% 98%;
        --card: 217.2 32.6% 11%;
        /* Slate 900 */
        --card-foreground: 210 40% 98%;
        --primary: 243 75% 59%;
        --primary-foreground: 0 0% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --border: 217.2 32.6% 17.5%;
        /* Slate 800 */
        --destructive: 0 62.8% 30.6%;
        --ring: 243 75% 59%;
    }
}